.body-central-default {
    text-align: center;
    margin-top: 5%;
}

.blue-bubble {
    background-color: rgb(228, 233, 242);
    padding: 1.5em;
    border-radius: 1em;
    margin: .5em;
}

/* TODO: Making this middle column reflexive so on certain width it just expans to 100%? */
.middle-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* For desktop screens */
@media only screen and (min-width: 1080px) {
    .container-body-width {
      width: 60%;
      margin: 0 auto; /* Center the container */
    }

    .middle-flex-row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}
  
/* For smaller screens */
@media only screen and (max-width: 1079px) {
    .container {
      width: 100%;
    }

    .middle-flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
}

.who-am-i {
    flex-grow: 17;
}

.half-container {
    flex-grow: 100;
    width: 40%;
    max-width: 40%;
    position: relative;
}

.yt-container {
    flex-grow: 0.1;
    width: 60%;
    max-width: 60%;
}

/* For desktop, put images on the side */
@media only screen and (min-width: 720px) {
    .self-pictures {
        flex-grow: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
  
/* For mobile, set to full width. Prev restricted by container. */
@media only screen and (max-width: 719px) {
    .self-pictures {
        display: flex;
        width: 100%;
    }
}

.self-picture-item {
    margin: .5em auto;
}

.self-picture-item img {
    display: inline-block;
    width: 10em;
    height: 10em;
    object-fit: cover;
}

.self-picture-item p {
    text-align: center;
    padding-top: .2em;
    font-family: "dovetail-mvb", serif;
    font-size: 18px;
    color: rgb(112, 112, 112)
}

.blue-league-title {
    font-family: "League Spartan", sans-serif;
    margin-bottom: .2em;
    font-size: 36px;
    font-weight: 400;
    color: #1D4296;
}

.gray-league-paragraph {
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    font-weight: 200;
    line-height: 1.3;
}

.text-centered {
    text-align: center;
}

.league-p-bold {
    font-weight: 600;
}

.league-p-clickable {
    font-weight: 600;
    color: #1D4296;
    text-decoration: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects-container {
    padding: .1em;
}

.project-tabs {
    text-align: left;
    display: block;
}

.project-tab-title {
    font-family: "League Spartan", sans-serif;
    font-size: 30px;
    display: inline;
    margin-right: .5em;
}

.project-tab-title:hover {
    cursor: pointer;
}

.active-tab-title {
    color: #1D4296;
}

.inactive-tab-title {
    color: #7688B1;
}

/* Mobile project nav menu */

.mobile-project-tab-title {
    font-family: "League Spartan", sans-serif;
    font-size: 28px;
    padding: .3em;
    margin: .1em 0;
    border-radius: 10px;
}

.mobile-project-tab-title:hover {
    cursor: pointer;
}

.mobile-active-tab-selection {
    color: #fff;
    background-color: #325199;
}

.mobile-inactive-tab-selection {
    color: rgb(92, 92, 92);
    background-color: rgb(199, 203, 210);
}

.mobile-inactive-tab-selection:hover {
    color: rgb(58, 58, 58);
    background-color: rgb(153, 156, 162);
}

/* End of mobile project nav menu */

.project-list {
    animation: fadeIn 0.4s ease-in, slideInUp 0.4s ease-out;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.project-section { /* Section within a tab */
    margin: 1em 0em;
    text-align: left;
}

.project-title {
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    text-decoration: none;
}

/* Project Titles Clickable Classes */
.project-title-link:link {
    text-decoration: none;
    color: #191919;
}

.project-title-link:visited {
    text-decoration: none;
    color: #191919;
}

.project-title-link:hover {
    text-decoration: none;
    cursor: pointer;
    color: #7688B1;
}

.project-title-link:active {
    text-decoration: none;
    color: #191919;
}

/* End of Project Titles */

.project-desc { /* Matches .gray-league-paragraph | Generalize? */
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0px;
}

.project-subtext {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.project-divide {
    color: #7688B1;
    width: 90%;
    opacity: 0.2;
}

.misc-links-title {
    font-weight: 400;
    font-family: "League Spartan", sans-serif;
}

/* Misc Links Clickable Classes */
.misc-links-title:link {
    text-decoration: none;
    color: #1D4296;
}

.misc-links-title:visited {
    text-decoration: none;
    color: #1D4296;
}

.misc-links-title:hover {
    text-decoration: none;
    cursor: pointer;
    color: #7688B1;
}

.misc-links-title:active {
    text-decoration: none;
    color: #1D4296;
}

/* End of Misc Links */

.misc-links-list-item {
    font-weight: 200;
    font-family: "League Spartan", sans-serif;
    font-size: 18px;
    margin: .4em 0em;
}

.wooper-decoration {
    position: absolute;
    bottom: 1em;
    right: 1em;
    width: 5em;
    opacity: 0.8;
}

.yt-container {
    height: 28em;
}

.yt-video-embed {
    margin: 1em auto;
    display: block;
    width: 80%;
    height: 60%;
}