@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url("https://use.typekit.net/pzo7ugc.css");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET */

.league-spartan-regular {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
}

.league-spartan-bold {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
}

.dovetail-title {
  font-family: "dovetail-mvb", serif;
  color: #1D4296;
  font-style: normal;
  font-weight: 200;
}

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner-bg-image {
  background-image: url('./img/hisui.jpg');
  background-position: 40% 50%;
}

.primary-header {
  width: 100%;
  height: 8em;
  position: relative;
  text-align: center;
}

.header-gray-bg {
  background-color: rgba(228, 233, 242, .82);
  height: 100%;
  width: 100%;
}

.header-text {
  font-size: 6em;
  padding-top: .05em;
}

@media only screen and (max-width: 480px) {
  .primary-header {
    height: 5em;
  }

  .header-text {
      font-size: 4em;
  }
}

.footer-gray-bg {
  background-color: rgba(4, 4, 4, 0.82);
  height: 100%;
  width: 100%;
}

.footer-text {
  font-family: "dovetail-mvb", serif;;
  text-align: left;
  font-size: 1em;
  padding: 1em;
  color: #EDEDED;
}
